@charset "UTF-8";
/*-------------------------------------------*/
/*	Btn
/*-------------------------------------------*/
/*	form
/*-------------------------------------------*/
/*	#eradi_ie_box
/*-------------------------------------------*/
/*	#wpadminbar
/*-------------------------------------------*/
/*	3column
/*-------------------------------------------*/
/*	#content
/*-------------------------------------------*/
/*	#sideTower
/*-------------------------------------------*/
/*	.subPostListSection
/*-------------------------------------------*/
/*-------------------------------------------*/
/*	Btn
/*-------------------------------------------*/
p.form-submit input[type=submit], .content form input.wpcf7-submit, #confirm-button input { font-size: 124%; line-height: 160%; display: block; margin: 0 auto; padding: 12px 20px 10px; width: 30%; border-radius: 4px; text-align: center; position: relative; border: none; overflow: hidden; position: relative; white-space: nowrap; text-decoration: none; }

a.btn, .linkBtn a, input[type=button], input[type=submit] { display: inline-block; overflow: hidden; margin-top: 15px; position: relative; padding: 8px 20px 6px; text-decoration: none; cursor: pointer; border: none; }

/*-------------------------------------------*/
/*	form
/*-------------------------------------------*/
form { /*iphone safari*/ }
form input[type="text"], form input[type="email"], form input[type="password"], form input[type="date"], form select, form textarea { border: 1px solid #e5e5e5; border-radius: 4px; padding: 10px 5px; outline: none; margin: 5px 5px 5px 0px; -webkit-appearance: none; font-size: 100%; }
form input[type="radio"], form input[type="checkbox"] { margin-right: 0.5em; margin-left: 0.5em; width: auto; }
form input:focus, form textarea:focus { box-shadow: inset 0 0 5px rgba(8, 1, 3, 0.2); }
form textarea { width: 94%; font-size: 12px; }
form input[type="button"], form input[type="submit"] { -webkit-appearance: none; }
form#searchform { padding: 5px 0px 5px 7px; display: block; overflow: hidden; position: relative; }
form#searchform input#s { margin: 0px 0px 0px 5px; padding: 7px 5px; width: 70%; float: left; }
form#searchform input#searchsubmit { margin: 0px 10px 0px 0px; float: right; }

div.wpcf7 img.ajax-loader { margin: 8px auto !important; display: block; }

.content form table { margin-top: 25px; }
.content form table th { vertical-align: middle; }
.content form table th, .content form table td { padding: 10px; }

.flexslider.slide .flex-direction-nav li .next { right: 0; }

.flexslider.slide .flex-direction-nav li .prev { left: 0; }

@media (min-width: 770px) { form#searchform input#s { padding: 6px 5px; }
  .content form table th, .content form table td { padding: 10px 15px; } }
/*-------------------------------------------*/
/*	#eradi_ie_box
/*-------------------------------------------*/
#eradi_ie_box { background-color: #c00; padding: 2em; color: #fff; text-align: center; font-size: 114.3%; }
#eradi_ie_box .alert_title { font-size: 150%; margin-bottom: 1em; }
#eradi_ie_box a { color: #fff; }

/*-------------------------------------------*/
/*	#wpadminbar
/*-------------------------------------------*/
#wpadminbar .ab-top-menu > li#wp-admin-bar-editGuide > .ab-item { background-color: #069; cursor: pointer; }

#wpadminbar .ab-top-menu > li#wp-admin-bar-editGuide > .ab-item:hover { background-color: #cc0; color: #fff; cursor: pointer; }

.sideTower .sideWidget li#sideContact, #sideTower .sideWidget li#sideContact { border: none; }
.sideTower .sideWidget li#sideContact a, #sideTower .sideWidget li#sideContact a { padding: 0; }

/*-------------------------------------------*/
/*	3column
/*-------------------------------------------*/
@media (min-width: 970px) { .three_column .sideTower, .three_column #sideTower { clear: none; }
  .three_column #main #container { position: relative; }
  .three_column #main #container #content { float: left; position: relative; left: 240px; width: 470px; }
  .three_column #main #container #sideTower { float: left; position: relative; left: -470px; }
  .three_column #main #container #thirdTower { float: right; position: relative; width: 220px; } }
/*-------------------------------------------*/
/*	#content
/*-------------------------------------------*/
.content .infoList { position: relative; margin-bottom: 30px; }

.content .infoList h2, .content .infoList h2:first-child { margin-bottom: 0px; }

.content .infoList .infoListBox { clear: both; }

.entry-meta .entry-meta-items:before { content: " | "; }
.entry-meta .entry-meta-items.author { display: none; }

/*-------------------------------------------*/
/*	#sideTower
/*-------------------------------------------*/
.sideTower .ttBoxSection, #sideTower .ttBoxSection { padding: 0 0 15px; }
.sideTower .ttBox a, #sideTower .ttBox a { text-decoration: none; color: #333; }
.sideTower .ttBox a:hover, #sideTower .ttBox a:hover { text-decoration: underline; }
.sideTower .ttBox .ttBoxThumb, #sideTower .ttBox .ttBoxThumb { width: 80px; }
.sideTower .sideWidget .tagcloud, #sideTower .sideWidget .tagcloud { margin-top: 10px; }

/*-------------------------------------------*/
/*	.subPostListSection
/*-------------------------------------------*/
.content .subPostListSection { display: block; overflow: hidden; position: relative; padding-bottom: 20px; }
.content .subPostListSection ul { margin: 0; }
.content .subPostListSection li.ttBox { display: block; overflow: hidden; position: relative; padding: 15px 0; border-bottom: 1px dotted #999; margin: 0; }
.content .subPostListSection li.ttBox:nth-child(1), .content .subPostListSection li.ttBox:nth-child(2) { padding-top: 0; }
.content .subPostListSection li.ttBox h4 { margin-top: 0; }
.content .subPostListSection li.ttBox a { text-decoration: none; color: #333; }
.content .subPostListSection li.ttBox a:hover { text-decoration: underline; }
.content .subPostListSection li.ttBox .ttBoxThumb { width: 80px; }

@media (min-width: 500px) { .content .subPostListSection .ttBox { width: 47%; }
  .content .subPostListSection .ttBox:nth-child(odd) { clear: both; float: left; }
  .content .subPostListSection .ttBox:nth-child(2n) { float: right; } }
/*-------------------------------------------*/
/*	#sitemapPostList
/*-------------------------------------------*/
#content #sitemapPostList h5 { color: #666; }
#content #sitemapPostList h5 a { color: #666; text-decoration: none; }
#content #sitemapPostList h5 a:hover { text-decoration: underline; }
#content #sitemapPostList h6 { margin-top: 0px; font-size: 85.7%; }

/*-------------------------------------------*/
/*			contactform7
/*-------------------------------------------*/
.content .wpcf7 { margin-top: 20px; }
.content .wpcf7 .wpcf7 dl { display: block; overflow: hidden; border-bottom: 1px dotted #ccc; }
.content .wpcf7 .wpcf7 dl dt { display: block; overflow: hidden; padding: 10px 0; float: left; width: 20%; color: #666; font-weight: lighter; }
.content .wpcf7 .wpcf7 dl dd { display: block; overflow: hidden; padding: 10px; margin-bottom: 0px; }
.content form span.wpcf7-form-control-wrap { position: relative; display: block; overflow: hidden; clear: both; /*回り込みをしている為*/ }
.content form span.wpcf7-form-control-wrap .wpcf7-list-item, .content form span.wpcf7-form-control-wrap .wpcf7-list-item label { display: block; float: left; }
.content form span.wpcf7-form-control-wrap .wpcf7-list-item { padding-top: 8px; padding-bottom: 8px; }
.content form span.wpcf7-not-valid-tip, .content form div.wpcf7-validation-errors { position: relative; color: #fff; padding: 8px 12px 6px; position: relative; display: block; background-color: #F00; left: 0px; top: 8px; margin-bottom: 8px; clear: both; border-radius: 5px; border: none; }
.content form span.wpcf7-not-valid-tip::after, .content form div.wpcf7-validation-errors::after { content: ""; position: absolute; bottom: 100%; left: 30px; height: 0; width: 0; border: 10px solid transparent; border-bottom: 10px solid #F00; }

@media (min-width: 770px) { .content form span.wpcf7-form-control-wrap .wpcf7-list-item { padding-top: 2px; padding-bottom: 2px; } }
/*-------------------------------------------*/
/*			#trust-form
/*-------------------------------------------*/
#main #trust-form span.content { width: auto; }

/*-------------------------------------------*/
/*			res-vektor.cssより
/*-------------------------------------------*/
#back-top { z-index: 500; position: relative; }
#back-top #pagetop { display: block; overflow: hidden; width: 45px; height: 45px; }
#back-top a { display: block; overflow: hidden; position: fixed; bottom: 20px; right: 20px; }

.dropNavControl { cursor: pointer; }

.show-full-only, .show-mobile-only, .show-mobile-tab, .show-tab-full, .show-tab-only { display: none; }

.ttBox { display: block; overflow: hidden; padding: 15px 0; }
.ttBox .ttBoxLeft { float: left; }
.ttBox .ttBoxRight { float: right; }
.ttBox .ttBoxThumb img { height: auto; }

@media (max-width: 670px) { .show-full-only, .show-tab-full, .show-tab-only { display: none; }
  table.mobile-block td, table.mobile-block th { display: block; } }
@media (min-width: 671px) { table.mobile-block td, table.mobile-block th { display: table-cell; } }
@media (min-width: 970px) { .show-mobile-only, .show-mobile-tab, .show-tab-only { display: none; }
  span.txtBr-full-only { display: block; } }
/*-------------------------------------------*/
/*			flexslider.cssより
/*-------------------------------------------*/
.flex-container a:active, .flex-container a:focus, .flexslider a:active, .flexslider a:focus { outline: 0; }

.flex-control-nav, .flex-direction-nav, .slides { margin: 0; padding: 0; list-style: none; }

.flexslider { margin: 0; padding: 0; background: #fff; border: 4px solid #fff; position: relative; zoom: 1; }

.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; position: relative; }

.flexslider .slides img, .no-js .slides > li:first-child, .slides:after, html[xmlns] .slides { display: block; }

.flexslider .slides img { max-width: 100%; }

.flex-pauseplay span { text-transform: capitalize; }

.slides:after { content: "."; clear: both; visibility: hidden; line-height: 0; height: 0; }

* html .slides { height: 1%; }

.flexslider .slides { zoom: 1; }

.flex-container { zoom: 1; position: relative; }

.flex-caption { zoom: 1; width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); font-size: 14px; line-height: 18px; }

.flex-direction-nav { height: 0; }
.flex-direction-nav li a { width: 52px; height: 52px; margin: -20px 3px 0; display: block; background: url(../images/flexslider/bg_direction_nav2_30.png) no-repeat; position: absolute; top: 50%; cursor: pointer; text-indent: -999em; }
.flex-direction-nav li a:hover { background-image: url(../images/flexslider/bg_direction_nav2_50.png); }
.flex-direction-nav li .next { background-position: -52px 0; right: -55px; }
.flex-direction-nav li .prev { left: -55px; }
.flex-direction-nav li .disabled { opacity: .3; filter: alpha(opacity=30); cursor: default; }

.flex-control-nav { width: 100%; position: absolute; bottom: 0; text-align: center; }
.flex-control-nav li { margin: 0 0 0 5px; display: inline-block; zoom: 1; }
.flex-control-nav li:first-child { margin: 0; }
.flex-control-nav li a { width: 13px; height: 13px; display: block; background: url(../images/flexslider/bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em; }
.flex-control-nav li a:hover { background-position: 0 -13px; }
.flex-control-nav li a.active { background-position: 0 -27px; cursor: default; }

@media (max-width: 970px) { .flex-control-nav, .flex-direction-nav li .next, .flex-direction-nav li .prev { display: none; } }
/* BizVektorOptions 0.1.1.1
/*-------------------------------------------*/
.leadTxt, #content p.leadTxt { font-size: 2em; line-height: 150%; padding: 0; }

/*			.qaItem
/*-------------------------------------------*/
#content dl.qaItem { display: block; overflow: hidden; border-bottom: 1px dotted #ccc; padding: 0px 0px 20px; margin: 0px 0px 20px; width: 100%; }

#content dl.qaItem dt { margin-bottom: 15px; background: url(../images/options/qaIconQ.gif) left top no-repeat; padding-left: 32px; border: none; }

#content dl.qaItem dd { margin-bottom: 0px; background: url(../images/options/qaIconA.gif) left top no-repeat; padding-left: 32px; }

/*			.flowBox
/*-------------------------------------------*/
#content .flowBox { padding-bottom: 30px; margin-bottom: 15px; display: block; overflow: hidden; background: url(../images/options/arrow_down.png) center bottom no-repeat; }

#content .flowBox:last-child { background: none; padding-bottom: 0px; margin-bottom: 0px; }

#content .flowBox dl { display: block; overflow: hidden; padding: 15px 20px; border: 3px solid #e5e5e5; }

#content .flowBox dl dt { border-bottom: 1px dotted #ccc; margin-bottom: 10px; font-size: 1.2em; }

#content .flowBox dl dd { margin-bottom: 0px; }

#content .flowBox dl dd h4 { margin: 0px; padding: 0px; }

#content .flowBox dl dd p { margin-bottom: 10px; }

#content .flowBox dl dd ul { margin-bottom: 0px; }

.dummyImage { padding: 20px; display: block; vertical-align: middle; text-align: center; background-color: #f5f5f5; border: 1px solid #ccc; margin-bottom: 15px; }

.floatLeft { float: left; margin-right: 20px; }

.floatRight { float: right; margin-left: 20px; }

/*
Grunt で統合するファイル
res-vektor.css
flexslider.css
*/
/*-------------------------------------------*/
/*
/*-------------------------------------------*/
