@charset "utf-8";
/* gMenuの系統でないページを表示しても崩れないようにactive ボタンのサイズは必ず他のボタンより大きくならなくてはならない */
@media (min-width: 970px) {
#gMenu .menu li { width:237px; text-align:center; }
#gMenu .menu li.current_page_item,
#gMenu .menu li.current_page_ancestor { width:238px; }
}