@import "compass";
body     { line-height:150%; }
#headerTop { display: block; }
#headerTop #site-description	{ line-height:150%;font-size:12px; display: block; }
#header { padding-bottom:15px;
	.innerBox {
		#site-title { margin-top:15px;margin-bottom:0;margin-left:0;
			img { max-height:45px; }
		}
	} //.innerBox
	#headContact #headContactTxt	{ font-size:11px;}
	#headContact #headContactTel	{ font-size:24px;margin-bottom:4px; }
	#headContact #headContactTime	{ font-size:12px;}
	// display control
	#headContact { float:right; text-align:right;margin-bottom:20px;
		#headContactInner:before { display: none; }
		#headContactInner { cursor:inherit;padding:0;display:block; overflow:hidden;margin:0; }
	}
	#headContact.itemClose {
		#headContactInner {
			#headContactTxt,
			#headContactTel,
			#headContactTime { display: block; }
		} // #headContactInner
	} // #headContact.itemClose
	#headContact.itemOpen {
		#headContactInner { clear:none;border:none;padding:0;margin-bottom:0;
			#headContactTxt,
			#headContactTel,
			#headContactTime { display: block; }
		} // #headContactInner
	} // #headContact.itemOpen
} // #header

.innerBox,
#gMenu #gMenuInner.innerBox	{ width:950px; margin:0px auto; }
#header .innerBox { width:950px; }
#main #container	{ padding-top:30px;}
#main #container #content	{ float:left; width:660px; }
#main #container #sideTower	{ float:right; width:250px;clear:none; }

body.left-sidebar #main #container #content	{ float:right; }
body.left-sidebar #main #container #sideTower	{ float:left; }

body.home.one-column #main #container #content	{ float:none;width:100%; }
body.home.one-column #main #container #sideTower	{ float:none; display:none; }

// form#searchform input#s	{width:120px; }
form#searchform input#searchsubmit	{ width:20%; }

#content .mainFootContact .mainFootBt a img	{ width:100%; }

#topMainBnr			{ width:100%; }
#topMainBnr img		{ width:950px !important;max-width:950px !important; }
#topMainBnrFrame .slider li { }
#topMainBnrFrame	{ width:950px;min-height:250px; }


/*			.childPageBox
/*-------------------------------------------*/
#content .childPageBox { display:block;margin-top:20px; border:1px solid $color_border; padding:0px;display:block; overflow:hidden; width:638px; margin-bottom:20px;
	h4	{ font-weight:lighter;margin:15px 20px 10px; padding:0px 0px 3px; font-size:14px;}
	h4 a	{ text-decoration:none;color:#666 }
	ul 	{ margin:0px 20px 15px; padding:0px; display:block; overflow:hidden; font-size:85.7%; line-height:125%;}
	ul li	{ float:left; display:block; width:33%; list-style:none;margin:0px; }
	ul li a	{ background:url(../images/icon_arrow1_gray.gif) left 5px no-repeat; padding:3px 5px 3px 17px; text-decoration:none; display:block; overflow:hidden; color:#666;}
	ul li a:hover,
	ul li.current_page_item a { background-image:url(../images/icon_arrow1_red.gif); text-decoration:underline;color:#c00; }

	ul li ul	{ margin:0px;font-size:91.7%; }
	ul li ul li		{ float:none;width:auto; }
	ul li ul li a	{ background:url(../images/icon_arrow2_gray.gif) left 6px no-repeat; padding:3px 5px 3px 14px; text-decoration:none;margin-left:3px; }
	ul li ul li a:hover,
	ul li ul li.current_page_item a { background-image:url(../images/icon_arrow2_red.gif); }
	ul li ul li ul	{ padding-left:8px;font-size:100%;line-height:$line_low;}
	ul li.current_page_item ul li a	{ color:#666; text-decoration:none;background-image:url(../images/icon_arrow2_gray.gif); }
	ul li.current_page_item ul li a:hover	{ color:#c00; text-decoration:underline;background-image:url(../images/icon_arrow2_red.gif); }
} // .childPageBox


#footerSiteMap	{ width:640px;padding-top:0px; font-size:12px; }
#footer dl#footerOutline	{ float:left;
	dd { padding-right:20px; }
}