@import "compass";
$width_container:950px;
$width_content:660px;
$width_side:220px;

body     { line-height:150%; }
#headerTop { display: block; }
#headerTop #site-description	{ line-height:150%;font-size:12px; display: block; }
#header { padding-bottom:15px;
	.innerBox {
		#site-title { margin-top:15px;margin-bottom:0;margin-left:0;
			img { max-height:45px; }
		}
	} //.innerBox
	#headContact #headContactTxt	{ font-size:11px;}
	#headContact #headContactTel	{ font-size:24px;margin-bottom:4px; }
	#headContact #headContactTime	{ font-size:12px;}
	// display control
	#headContact { float:right; text-align:right;margin-bottom:20px;
		#headContactInner:before { display: none; }
		#headContactInner { cursor:inherit;padding:0;display:block; overflow:hidden;margin:0; }
	}
	#headContact.itemClose {
		#headContactInner {
			#headContactTxt,
			#headContactTel,
			#headContactTime { display: block; }
		} // #headContactInner
	} // #headContact.itemClose
	#headContact.itemOpen {
		#headContactInner { clear:none;border:none;padding:0;margin-bottom:0;
			#headContactTxt,
			#headContactTel,
			#headContactTime { display: block; }
		} // #headContactInner
	} // #headContact.itemOpen
} // #header

.innerBox,
#gMenu #gMenuInner.innerBox	{ width:$width_container; margin:0px auto; }
#gMenu:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#gMenu .innerBox	{ margin:0;width:100%;}
#gMenu.itemClose .menu,
#gMenu.itemOpen .menu	{ display:block; }
#gMenu .menu:after	{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#gMenu { position: relative;
.assistive-text { position: absolute; top: -9000px; } // [attention] if [display:none] no reader / if yoko offset that ie display still data road.
}
.headMainMenu { clear:both;
	li { float: left;border-bottom:none; overflow:visible;width:auto }
	li a	{ text-align: center; }
	li a span { display:block; font-size:10px; line-height:140%;letter-spacing:1px; font-family:verdana, Arial, Helvetica, sans-serif; opacity: 0.6; }
	li ul { display: none; }
	li:hover ul { display:block; position:absolute;z-index:100; position:absolute;box-shadow:1px 1px 3px rgba(0,0,0,0.2);
			li	{ background:#fff;width:200px; position:relative;
				a { text-align: left; line-height: 140%; }
				ul	{ position:absolute;left:200px;top:10px; border-top:none;}
				ul,
				ul li	{ display:none; }
			}
			li:hover ul,
			li:hover ul li	{display:block;}
	} // li:hover ul

	li:hover li a,
	li.current_page_item li a,
	li.current-menu-ancestor li a,
	li.current-page-ancestor li a,
	li.current_page_ancestor li a { background:none;text-align:left;border-right:none; }
	li:hover li a:hover,
	li.current_page_item li a:hover,
	li.current-menu-ancestor li a:hover,
	li.current-page-ancestor li a:hover,
	li.current_page_ancestor li a:hover { background-color:#f5f5f5;}
} // .headMainMenu

#header .innerBox { width:$width_container; }
#main #container	{ padding-top:30px;}
#main #container .content	{ float:left; width:$width_content; }
#main #container #sideTower	{ float:right; width:$width_side;clear:none; }

body.left-sidebar #main #container .content	{ float:right; }
body.left-sidebar #main #container #sideTower	{ float:left; }

body.home.one-column #main #container .content	{ float:none;width:100%; }
body.home.one-column #main #container #sideTower	{ float:none; display:none; }

// form#searchform input#s	{width:120px; }
form#searchform input#searchsubmit	{ width:20%; }

.content .mainFootContact .mainFootBt a img	{ width:100%; }

#topMainBnr			{ width:100%; }
#topMainBnr img		{ width:$width_container !important;max-width:$width_container !important; }
#topMainBnrFrame .slider li { }
#topMainBnrFrame	{ width:$width_container;min-height:250px; }


/*			.childPageBox
/*-------------------------------------------*/
.content .childPageBox { display:block;overflow:hidden;margin-top:20px; border:1px solid $color_border; padding:0px; width:100%;
	@include box-sizing(border-box); margin-bottom:20px;
	h4	{ font-weight:lighter;margin:15px 20px 10px; padding:0px 0px 3px; font-size:14px;}
	h4 a	{ text-decoration:none;color:#666 }
	ul 	{ margin:0px 20px 15px; padding:0px; display:block; overflow:hidden; font-size:85.7%; line-height:125%;}
	ul li	{ float:left; display:block; width:33%; list-style:none;margin:0px; }
	ul li a	{ background:url(../images/icon_arrow1_gray.gif) left 5px no-repeat; padding:3px 5px 3px 17px; text-decoration:none; display:block; overflow:hidden; color:#666;}
	ul li a:hover,
	ul li.current_page_item a { background-image:url(../images/icon_arrow1_red.gif); text-decoration:underline;color:#c00; }

	ul li ul	{ margin:0px;font-size:91.7%; }
	ul li ul li		{ float:none;width:auto; }
	ul li ul li a	{ background:url(../images/icon_arrow2_gray.gif) left 6px no-repeat; padding:3px 5px 3px 14px; text-decoration:none;margin-left:3px; }
	ul li ul li a:hover,
	ul li ul li.current_page_item a { background-image:url(../images/icon_arrow2_red.gif); }
	ul li ul li ul	{ padding-left:8px;font-size:100%;line-height:$line_low;}
	ul li.current_page_item ul li a	{ color:#666; text-decoration:none;background-image:url(../images/icon_arrow2_gray.gif); }
	ul li.current_page_item ul li a:hover	{ color:#c00; text-decoration:underline;background-image:url(../images/icon_arrow2_red.gif); }
} // .childPageBox


#footerSiteMap	{ width:$width_content;float:right;padding-top:0px; font-size:12px; }
#footer dl#footerOutline	{ float:left;width:260px;
	dt img { max-height: 45px; }
	dd { padding-right:20px; }
}