@charset "utf-8";

@import "001_common.css";

a	{ color:#253D7D; }

.moreLink a,
.btn.btnS a,
.btn.btnM a,
.btn.btnL a,
#content p.btn.btnL input,
input[type=button],
input[type=submit],
#searchform input[type=submit],
p.form-submit input[type=submit],
form#searchform input#searchsubmit,
#content form input.wpcf7-submit,
#confirm-button input	{ background-color:#253D7D;color:#f5f5f5; }

.moreLink a:hover,
.btn.btnS a:hover,
.btn.btnM a:hover,
.btn.btnL a:hover	{ background-color:#1D3565 ; color:#f5f5f5; }

#headerTop { border-top-color:#253D7D;}
#header #headContact #headContactTel	{color:#253D7D;}

#gMenu	{ border-top:2px solid #253D7D; }
#gMenu h3.assistive-text,
#gMenu .menu li.current_page_item a,
#gMenu .menu li.current_page_ancestor a,
#gMenu .menu li.current-page-ancestor a,
#gMenu .menu li a:hover	{ background-color:#253D7D; border-right:1px solid #1D3565;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#253D7D), to(#1D3565));
background: -moz-linear-gradient(#253D7D, #1D3565);
background: linear-gradient(#253D7D, #1D3565);
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#253D7D, EndColorStr=#1D3565)";
-pie-background: linear-gradient(#253D7D, #1D3565);
behavior: url(/wp-content/themes/biz-vektor/PIE.htc);
}
#gMenu .menu li.current_page_item a span,
#gMenu .menu li.current_page_ancestor a span,
#gMenu .menu li.current-page-ancestor a span,
#gMenu .menu li a:hover span{ color:#CDD8F5; }

#pageTitBnr	{ background-color:#253D7D; }

#panList a	{ color:#253D7D; }
#panList a:hover	{ color:#425da6; }

#content h2,
#content h1.contentTitle,
#content h1.entryPostTitle { border-top:2px solid #253D7D;}
#content h3	{ border-left-color:#253D7D;}
#content h4,
#content dt	{ color:#253D7D; }

#content .infoList .infoCate a:hover	{ background-color:#253D7D; }

#content .child_page_block h4 a	{ border-color:#253D7D; }
#content .child_page_block h4 a:hover,
#content .child_page_block p a:hover	{ color:#253D7D; }

#content .childPageBox ul li.current_page_item li a	{ color:#253D7D; }

#content .mainFootContact p.mainFootTxt span.mainFootTel	{ color:#253D7D; }
#content .mainFootContact .mainFootBt a			{ background-color:#253D7D; }
#content .mainFootContact .mainFootBt a:hover	{ background-color:#1D3565; }

#sideTower .localHead	{ border-top-color:#253D7D; }
#sideTower li.sideBnr#sideContact a		{ background-color:#253D7D; }
#sideTower li.sideBnr#sideContact a:hover	{ background-color:#1D3565; }
#sideTower .sideWidget h4	{ border-left-color:#253D7D; }

#pagetop a	{ background-color:#1D3565; }
#footMenu	{ background-color:#1D3565;border-top-color:#253D7D; }

#topMainBnr	{ background-color:#253D7D; }

#topPr .topPrInner h3	{ border-left-color:#253D7D ; }
#topPr .topPrInner p.moreLink a	{ background-color:#253D7D; }
#topPr .topPrInner p.moreLink a:hover { background-color:#425da6; }

#topMainBnrFrame a.slideFrame:hover	{ border:4px solid #253D7D; }

.paging span,
.paging a	{ color:#253D7D;border:1px solid #253D7D; }
.paging span.current,
.paging a:hover	{ background-color:#253D7D; }