@charset "utf-8";

@import "001_common.css";

a	{ color:#005500; }

.moreLink a,
.btn.btnS a,
.btn.btnM a,
.btn.btnL a,
#content p.btn.btnL input,
input[type=button],
input[type=submit],
#searchform input[type=submit],
p.form-submit input[type=submit],
form#searchform input#searchsubmit,
#content form input.wpcf7-submit,
#confirm-button input	{ background-color:#005500;color:#f5f5f5; }

.moreLink a:hover,
.btn.btnS a:hover,
.btn.btnM a:hover,
.btn.btnL a:hover	{ background-color:#0c0; color:#f5f5f5;}

#headerTop { border-top-color:#005500;}
#header #headContact #headContactTel	{color:#005500;}

#gMenu	{ border-top:2px solid #005500; }
#gMenu h3.assistive-text,
#gMenu .menu li.current_page_item a,
#gMenu .menu li.current_page_ancestor a ,
#gMenu .menu li.current-page-ancestor a ,
#gMenu .menu li a:hover	{ background-color:#005500; border-right:1px solid #004B00;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#005500), to(#004B00));
background: -moz-linear-gradient(#005500, #004B00);
background: linear-gradient(#005500, #004B00);
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#005500, EndColorStr=#004B00)";
-pie-background: linear-gradient(#005500, #004B00);
behavior: url(/wp-content/themes/biz-vektor/PIE.htc);
}
#gMenu .menu li.current_page_item a span,
#gMenu .menu li.current_page_ancestor a span,
#gMenu .menu li.current-page-ancestor a span,
#gMenu .menu li a:hover span{ color:#99cc99; }

#pageTitBnr	{ background-color:#005500; }

#panList a	{ color:#005500; }
#panList a:hover	{ color:#0c0; }

#content h2,
#content h1.contentTitle,
#content h1.entryPostTitle { border-top:2px solid #005500;}
#content h3	{ border-left-color:#005500;}
#content h4,
#content dt	{ color:#005500; }

#content .infoList .infoCate a:hover	{ background-color:#005500; }

#content .child_page_block h4 a	{ border-color:#005500; }
#content .child_page_block h4 a:hover,
#content .child_page_block p a:hover	{ color:#005500; }

#content .childPageBox ul li.current_page_item li a	{ color:#005500; }

#content .mainFootContact p.mainFootTxt span.mainFootTel	{ color:#005500; }
#content .mainFootContact .mainFootBt a			{ background-color:#005500; }
#content .mainFootContact .mainFootBt a:hover	{ background-color:#0c0; }

#sideTower .localHead	{ border-top-color:#005500; }
#sideTower li.sideBnr#sideContact a		{ background-color:#005500; }
#sideTower li.sideBnr#sideContact a:hover	{ background-color:#0c0; }
#sideTower .sideWidget h4	{ border-left-color:#005500; }

#pagetop a	{ background-color:#005500; }
#footMenu	{ background-color:#005500;border-top-color:#004B00; }

#topMainBnr	{ background-color:#005500; }

#topPr .topPrInner h3	{ border-left-color:#005500 ; }
#topPr .topPrInner p.moreLink a	{ background-color:#005500; }
#topPr .topPrInner p.moreLink a:hover { background-color:#0c0; }

#topMainBnrFrame a.slideFrame:hover	{ border:4px solid #005500; }

.paging span,
.paging a	{ color:#005500;border:1px solid #005500; }
.paging span.current,
.paging a:hover	{ background-color:#005500; }