@charset "utf-8";

@import "001_common.css";

a	{ color:#EF810F; }

.moreLink a,
.btn.btnS a,
.btn.btnM a,
.btn.btnL a,
#content p.btn.btnL input,
input[type=button],
input[type=submit],
#searchform input[type=submit],
p.form-submit input[type=submit],
form#searchform input#searchsubmit,
#content form input.wpcf7-submit,
#confirm-button input	{ background-color:#EF810F;color:#f5f5f5; }

.moreLink a:hover,
.btn.btnS a:hover,
.btn.btnM a:hover,
.btn.btnL a:hover	{ background-color:#FF640E; color:#f5f5f5;}

#headerTop { border-top-color:#EF810F;}
#header #headContact #headContactTel	{color:#EF810F;}

#gMenu	{ border-top:2px solid #EF810F; }
#gMenu h3.assistive-text,
#gMenu .menu li.current_page_item a,
#gMenu .menu li.current_page_ancestor a ,
#gMenu .menu li.current-page-ancestor a ,
#gMenu .menu li a:hover	{ background-color:#EF810F; border-right:1px solid #EB6940;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EF810F), to(#EB6940));
background: -moz-linear-gradient(#EF810F, #EB6940);
background: linear-gradient(#EF810F, #EB6940);
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#EF810F, EndColorStr=#EB6940)";
-pie-background: linear-gradient(#EF810F, #EB6940);
behavior: url(/wp-content/themes/biz-vektor/PIE.htc);
}
#gMenu .menu li.current_page_item a span,
#gMenu .menu li.current_page_ancestor a span,
#gMenu .menu li.current-page-ancestor a span,
#gMenu .menu li a:hover span{ color:#FFCCCC; }

#pageTitBnr	{ background-color:#EF810F; }

#panList a	{ color:#EF810F; }
#panList a:hover	{ color:#FF640E; }

#content h2,
#content h1.contentTitle,
#content h1.entryPostTitle { border-top:2px solid #EF810F;}
#content h3	{ border-left-color:#EF810F;}
#content h4,
#content dt	{ color:#EF810F; }

#content .infoList .infoCate a:hover	{ background-color:#EF810F; }

#content .child_page_block h4 a	{ border-color:#EF810F; }
#content .child_page_block h4 a:hover,
#content .child_page_block p a:hover	{ color:#EF810F; }

#content .childPageBox ul li.current_page_item li a	{ color:#EF810F; }

#content .mainFootContact p.mainFootTxt span.mainFootTel	{ color:#EF810F; }
#content .mainFootContact .mainFootBt a			{ background-color:#EF810F; }
#content .mainFootContact .mainFootBt a:hover	{ background-color:#FF640E; }

#sideTower .localHead	{ border-top-color:#EF810F; }
#sideTower li.sideBnr#sideContact a		{ background-color:#EF810F; }
#sideTower li.sideBnr#sideContact a:hover	{ background-color:#FF640E; }
#sideTower .sideWidget h4	{ border-left-color:#EF810F; }

#pagetop a	{ background-color:#EF810F; }
#footMenu	{ background-color:#EF810F;border-top-color:#EB6940; }

#topMainBnr	{ background-color:#EF810F; }

#topPr .topPrInner h3	{ border-left-color:#EF810F ; }
#topPr .topPrInner h3 a:hover	{ color:#EF810F; }
#topPr .topPrInner p a:hover	{ color:#EF810F; }
#topPr .topPrInner p.moreLink a	{ background-color:#EF810F; }
#topPr .topPrInner p.moreLink a:hover { background-color:#FF640E;color:#fff; }

#topMainBnrFrame a.slideFrame:hover	{ border:4px solid #EF810F; }

.paging span,
.paging a	{ color:#EF810F;border:1px solid #EF810F; }
.paging span.current,
.paging a:hover	{ background-color:#EF810F; }