@charset "utf-8";

#eradi_ie_box { background-color: #c00; padding:2em; color:#fff; text-align: center;font-size:114.3%;
	.alert_title{ font-size:150%;margin-bottom:1em; }
	a { color:#fff; }
}

#sideTower .sideWidget li#sideContact { border:none;
	a { padding:0; }
}

#wpadminbar .ab-top-menu>li#wp-admin-bar-editGuide>.ab-item { background-color: #069;cursor: pointer; }
#wpadminbar .ab-top-menu>li#wp-admin-bar-editGuide>.ab-item:hover { background-color: #cc0;color:#fff;cursor: pointer; }

/*			contactform7
/*-------------------------------------------*/
#content .wpcf7	{ margin-top:20px; }
#content form span.wpcf7-form-control-wrap	{ position:relative; display:block; overflow:hidden; clear:both; /*回り込みをしている為*/ }
#content form span.wpcf7-form-control-wrap .wpcf7-list-item,
#content form span.wpcf7-form-control-wrap .wpcf7-list-item label	{ display:block; float:left; }
#content form span.wpcf7-form-control-wrap .wpcf7-list-item	{ padding-top:8px; padding-bottom:8px; }
#content form span.wpcf7-not-valid-tip,
#content form div.wpcf7-validation-errors	{ position: relative; color: #fff; padding:8px 12px 6px; position:relative; display:block; background-color:#F00;left:0px;top:8px; margin-bottom:8px; clear:both; border-radius: 5px; }
#content form span.wpcf7-not-valid-tip::after,
#content form div.wpcf7-validation-errors::after {content: "";position: absolute;bottom: 100%;left: 30px;height: 0;width: 0;border: 10px solid transparent;border-bottom: 10px solid #F00;}
#content .wpcf7 dl		{ display:block; overflow:hidden; border-bottom:1px dotted #ccc; }
#content .wpcf7 dl dt	{ display:block; overflow:hidden; padding:10px 0;float:left; width:20%; color:#666; font-weight:lighter; }
#content .wpcf7 dl dd	{ display:block; overflow:hidden; padding:10px;margin-bottom:0px; }
@media (min-width: 770px) {
	#content form span.wpcf7-form-control-wrap .wpcf7-list-item	{ padding-top:2px; padding-bottom:2px; }
}

.sticky {}
.bypostauthor {}