@charset "utf-8";

#eradi_ie_box { background-color: #c00; padding:2em; color:#fff; text-align: center;font-size:114.3%;
	.alert_title{ font-size:150%;margin-bottom:1em; }
	a { color:#fff; }
}

#sideTower .sideWidget li#sideContact { border:none;
	a { padding:0; }
}