@charset "utf-8";
@import "compass";

body { font-size:14px;color:red !important; }
#content {display:block; overflow:hidden; }
.single #content #otherPhoto .wp-caption.count3n { margin-right:0; }
.single #content #otherPhoto .wp-caption.count3n_add1 { clear:both; }