@charset "utf-8";

#back-top { z-index: 500; position: relative; }
#back-top #pagetop	{ display:block; overflow:hidden;width:45px;height:45px;  }
#back-top a { display:block; overflow:hidden;position: fixed;bottom: 20px; right: 20px; }

.dropNavControl { cursor: pointer; }
.show-mobile-only,
.show-mobile-tab,
.show-tab-only,
.show-tab-full,
.show-full-only { display: none;}

.ttBox { display:block; overflow:hidden; padding:15px 0; }
.ttBox .ttBoxLeft { float:left; }
.ttBox .ttBoxRight { float:right; }
.ttBox .ttBoxThumb img { height:auto; }

@media (max-width: 670px) {
	.show-tab-only,
	.show-tab-full,
	.show-full-only { display: none;}
	table.mobile-block th,
	table.mobile-block td { display: block; }
}
@media (min-width: 671px) {
	table.mobile-block th,
	table.mobile-block td { display: table-cell; }
}
@media (min-width: 970px) {
	.show-mobile-only,
	.show-mobile-tab,
	.show-tab-only{ display: none;}
	span.txtBr-full-only { display: block; }
}


/*
body.riseNavOpen #contents,
body.riseNavOpen #sub-contents	{ display:none; }
body.riseNavOpen #footer .riseNavControlClose	{ display:inline; width:100%;overflow:visible;margin:0px auto;z-index:100;}
body.riseNavOpen #footer .riseNavControlClose	{ position:absolute;top:3px; text-align:center; }
body.riseNavOpen #footer .riseNavControlClose img	{ margin:0px auto; }
*/